@model ViewModel.VMUser
<form asp-action="Login" >
    


        <div class="form-group">
            <label for="Email" class="form-label mt-4">Email address</label>
        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email" name="Email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="Password" class="form-label mt-4">Password</label>
        <input type="password" class="form-control" id="Password" placeholder="Password" name="Password">
        </div>

    
    <div class="modal-footer">
        <button id="btn-submit" type="submit" class="btn btn-primary">Login</button>
        <button id="btn-close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
    </div>
</form>

