<form id="form_setPassword">



    <div class="form-group">
        <label for="Password" class="form-label mt-4">Password</label>
        <input type="password" class="form-control" id="Password" aria-describedby="password" placeholder="Enter Password" name="Password" required>
        <small id="passwordHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="repeatPassword" class="form-label mt-4">Enter Password Again</label>
        <input type="password" class="form-control" id="repeatPassword" placeholder="Repeat Password" name="repeatPassword" required>
        <small id="passHelp" class="form-text text-danger "></small>

    </div>



    <div class="modal-footer">

        <button id="btn-submit" type="submit" class="btn btn-primary">Set Password</button>
        <button id="btn-test" type="submit" class="btn btn-primary">Test</button>
        <button id="btn-close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
    </div>
</form>


<script>
    document.getElementById("btn-submit").addEventListener("click", async (event) => {
        event.preventDefault();
        var form = document.getElementById("form_setPassword")
        var formData = new FormData(form)
        var pass = formData.get("Password")
        var repass = formData.get("repeatPassword")
        if(pass === repass){
           var result =  strongPassword(pass)
           if (result){
                fetch(`/Auth/ModalIsiData`)
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById("passHelp").innerHTML = "";
                        document.getElementById("modal_title").textContent = "Isi Data Anda"
                        document.getElementById("modal_body_sm").innerHTML = data;
                        eval(document.getElementById("modal_body_sm").getElementsByTagName("script")[0].innerHTML);
                        document.getElementById("modal_sm").style.display = "block";
                    })
           }
           else{
               document.getElementById("passHelp").innerText = "Password harus memiliki huruf besar, kecil, angka, spesial karakter, panjang minimal 8"
           }
            
        }
        
      



    })
    function strongPassword(value){
        var hasLower = /[a-z]/.test(value);
        var hasUpper = /[A-Z]/.test(value);
        var hasDigit = /[0-9]/.test(value);
        var hasSpecial = /[!#\$%\^&\*]/.test(value);
        var isLongEnough = value.length >= 8;
        if (hasLower && hasUpper && hasDigit && hasSpecial && isLongEnough){
            return true;
        }
        else{return false}
        
    }

</script>
